<div [formGroup]="form">

    <!-- Title -->
    <mat-form-field>

        <mat-label>
            Course Title
        </mat-label>

        <input
            #title
            matInput
            placeholder="Course Title"
            formControlName="title"
            [maxlength]="validatorDefs.title.maxLength"
        >

        <mat-hint align="end">
            {{ title.value.length }} / {{ validatorDefs.title.maxLength }}
        </mat-hint>

        <mat-error *ngIf="courseTitle.errors?.titleExists">
            This title is already being used
        </mat-error>

    </mat-form-field>

    <!-- Release Date -->
    <mat-form-field>

        <mat-label>
            Release Date
        </mat-label>

        <input
            #releaseDate
            matInput
            placeholder="Release Date"
            formControlName="releaseDate"
            [matDatepicker]="releaseDatePicker"
        >
        <mat-datepicker-toggle matSuffix [for]="releaseDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #releaseDatePicker></mat-datepicker>

    </mat-form-field>

    <mat-checkbox color="primary" formControlName="downloadsAllowed">
        Downloads Allowed?
    </mat-checkbox>

    <!-- Long Description -->
    <mat-form-field appearance="outline">

        <mat-label>
            Long Description
        </mat-label>

        <textarea
            #longDescription
            matInput
            placeholder="Long Description"
            formControlName="longDescription"
        ></textarea>

        <mat-error *ngIf="courseLongDescription.errors?.minlength">
            Must be at least 3 characters
        </mat-error>

    </mat-form-field>

</div>

<div class="form-val">
    <p>Form Value</p>
    <pre>{{ form.value | json }}</pre>
</div>
