<div [formGroup]="form">

    <mat-form-field>

        <mat-label>Course Title</mat-label>
        <input matInput placeholder="Course Title" formControlName="title" #title [maxlength]="validatorDefs.title.maxLength">

        <mat-hint align="end">
            {{ title.value.length }} / {{ validatorDefs.title.maxLength }}
        </mat-hint>

        <mat-error *ngIf="courseTitle.errors?.titleExists">
            This title is already being used
        </mat-error>

    </mat-form-field>

</div>
