<div [formGroup]="form">

    <!-- Title -->
    <mat-form-field>

        <mat-label>
            Course Title
        </mat-label>

        <input
            #title
            matInput
            placeholder="Course Title"
            formControlName="title"
            [maxlength]="validatorDefs.title.maxLength"
            (focus)="onFocus($event)"
        >

        <mat-hint align="end">
            {{ title.value.length }} / {{ validatorDefs.title.maxLength }}
        </mat-hint>

        <mat-error *ngIf="courseTitle.errors?.titleExists">
            This title is already being used
        </mat-error>

        <mat-error *ngIf="courseTitle.errors?.required">
            The title is a required field
        </mat-error>

        <mat-error *ngIf="courseTitle.errors?.minlength">
            The title must be at least {{ validatorDefs.title.minLength }} characters long
        </mat-error>

    </mat-form-field>

    <!-- Release Date -->
    <mat-form-field>

        <mat-label>
            Release Date
        </mat-label>

        <input
            #releaseDate
            matInput
            placeholder="Release Date"
            formControlName="releaseDate"
            [matDatepicker]="releaseDatePicker"
        >
        <mat-datepicker-toggle matSuffix [for]="releaseDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #releaseDatePicker></mat-datepicker>

    </mat-form-field>

    <!-- Downloads Allowed -->
    <mat-checkbox color="primary" formControlName="downloadsAllowed">
        Downloads Allowed?
    </mat-checkbox>

    <!-- Long Description -->
    <mat-form-field appearance="outline">

        <mat-label>
            Long Description
        </mat-label>

        <textarea
            #longDescription
            matInput
            cdkTextareaAutosize
            cdkAutosizeMinRows="1"
            cdkAutosizeMaxRows="10"
            placeholder="Long Description"
            formControlName="longDescription"
            (focus)="onFocus($event)"
        ></textarea>

         <mat-error *ngIf="courseLongDescription.errors?.minlength && courseLongDescription.dirty">
            The Long Description must be at least {{ validatorDefs.longDescription.minLength }} characters
        </mat-error>

        <mat-error *ngIf="courseLongDescription.errors?.required && courseLongDescription.dirty">
            The Long Description is a required field
        </mat-error>

    </mat-form-field>

    <!-- Category -->
    <mat-form-field>
        <mat-label>
            Select Category
        </mat-label>
        <mat-select placeholder="Select Category" formControlName="category">
            <ng-container *ngFor="let category of (courseCategories$ | async)">
                <mat-option [value]="category.code">
                    {{ category.description }}
                </mat-option>
            </ng-container>
        </mat-select>
    </mat-form-field>

</div>
