.file-input {
    display: none;
}

.file-upload {
    display: flex;
    align-items: flex-end;
}

.upload-btn {
    margin-left: 10px;
    margin-bottom: 30px;
}

.progress-bar {
    margin-bottom: 10px;
}

mat-form-field {
    flex: 1;
}
