<h3>Add Course Lessons</h3>

<div class="add-lessons-form" [formGroup]="form">

    <ng-container formArrayName="lessons">

        <ng-container *ngFor="let lessonForm of lessons.controls; let i = index">

            <div class="lesson-form-row" [formGroup]="lessonForm">

                <!-- Lesson Title -->
                <mat-form-field appearance="fill">
                    <mat-label>Lesson Title</mat-label>
                    <input matInput placeholder="Lesson Title" formControlName="title">
                </mat-form-field>
        
                <!-- Difficulty -->
                <mat-form-field appearance="fill">
                    <mat-label>Difficulty</mat-label>
                    <mat-select placeholder="Difficulty" formControlName="level">
                        <mat-option value="beginner">Beginner</mat-option>
                        <mat-option value="intermediate">Intermediate</mat-option>
                        <mat-option value="advanced">Avanced</mat-option>
                    </mat-select>
                </mat-form-field>
        
                <mat-icon class="delete-btn" (click)="deleteLesson(i)">
                    delete_forever
                </mat-icon>
        
            </div>
        
        </ng-container>

    </ng-container>

    <button mat-mini-fab (click)="addLesson()">
        <mat-icon class="add-course-btn">
            add
        </mat-icon>
    </button>

</div>
