<div [formGroup]="form">

    <!-- Course Type -->
    <fieldset>
        <legend>Course Type</legend>
        <mat-radio-group formControlName="courseType">
            <mat-radio-button value="free">Free</mat-radio-button>
            <mat-radio-button value="premium">Premium</mat-radio-button>
        </mat-radio-group>
    </fieldset>

    <!-- File Upload -->
    <file-upload requiredFileType="image/png" formControlName="thumbnail">

    </file-upload>

    <!-- Price -->
    <mat-form-field>
        <mat-label>Price</mat-label>
        <input matInput placeholder="Price" formControlName="price" type="number">
    </mat-form-field>

    <!-- Promotional Period -->
    <mat-form-field>
        <mat-label>Promotional Period</mat-label>
        <mat-date-range-input [rangePicker]="promotionalPeriodPicker">
            <input matStartDate placeholder="Start Date" formControlName="promoStart">
            <input matEndDate placeholder="End Date" formControlName="promoEnd">
        </mat-date-range-input>
        <mat-datepicker-toggle matSuffix [for]="promotionalPeriodPicker"></mat-datepicker-toggle>
        <mat-date-range-picker #promotionalPeriodPicker></mat-date-range-picker>
        <mat-error *ngIf="form.errors?.promoPeriod && form.dirty">
            Start date must be before end date
        </mat-error>
    </mat-form-field>

</div>
