<div class="create-course-panel data-form">

    <h2 class="title">Create New Course</h2>

    <mat-horizontal-stepper class="mat-elevation-z5" labelPosition="bottom" [linear]="true">

        <!-- Step 1 -->
        <mat-step [stepControl]="step1.form" errorMessage="Landing page is in error">

            <!-- Label -->
            <ng-template matStepLabel>
                Course landing page details
            </ng-template>

            <!-- Step 1 -->
            <create-course-step-1 #step1></create-course-step-1>
    
            <!-- Previous / Next -->
            <stepper-buttons></stepper-buttons>

        </mat-step>

        <!-- Step 2 -->
        <mat-step [stepControl]="step2.form" errorMessage="Pricing is in error">

            <!-- Label -->
            <ng-template matStepLabel>
                Course pricing details
            </ng-template>

            <!-- Step 2 -->
            <create-course-step-2 #step2></create-course-step-2>

            <!-- Previous / Next -->
            <stepper-buttons></stepper-buttons>

        </mat-step>

        <!-- Step 3 -->
        <mat-step [stepControl]="step3.form" errorMessage="Course lessons is in error">

            <!-- Label -->
            <ng-template matStepLabel>
                Course lessons
            </ng-template>

            <!-- Step 2 -->
            <create-course-step-3 #step3></create-course-step-3>

            <!-- Previous / Next -->
            <stepper-buttons
                [config]="config"
                [lastStep]="true"
                [disabled]="!step3.form.valid || step3.lessons.length === 0"
                (onSubmitClick)="onSubmit(step1.form.value, step2.form.value, step3.form.value)"
            ></stepper-buttons>

        </mat-step>

    </mat-horizontal-stepper>

</div>

<p>Step 1 Valid: {{ step1.form.valid }}</p>
<p>Step 2 Valid: {{ step2.form.valid }}</p>
<p>Step 3 Valid: {{ step3.form.valid }}</p>

