h2 {
    font-family: "Roboto";
}

.data-form {
    max-width: 600px;
    margin: 0 auto;
}

.stepper-buttons {
    margin-top: 10px;
    display: flex;

    div {
        flex: 1;

        button {
            width: 200px;
        }
    }
}

.stepper-buttons > div:first-of-type {
    text-align: left;
}

.stepper-buttons > div:nth-of-type(2) {
    text-align: right;
}
