<div class="create-course-panel data-form">

    <h2 class="title">Create New Course</h2>

    <mat-horizontal-stepper class="mat-elevation-z5" labelPosition="bottom" [linear]="false">

        <!-- Step 1 -->
        <mat-step [stepControl]="step1.form" errorMessage="Landing page is in error">

            <!-- Label -->
            <ng-template matStepLabel>
                Course landing page details
            </ng-template>

            <!-- Step 1 -->
            <create-course-step-1 #step1></create-course-step-1>
    
            <!-- Previous / Next -->
            <stepper-buttons></stepper-buttons>

        </mat-step>

        <!-- Step 2 -->
        <mat-step errorMessage="Pricing is in error">

            <!-- Label -->
            <ng-template matStepLabel>
                Course pricing details
            </ng-template>

            <!-- Step 2 -->
            <create-course-step-2 #step2></create-course-step-2>

            <!-- Previous / Next -->
            <stepper-buttons></stepper-buttons>

        </mat-step>

    </mat-horizontal-stepper>

</div>
