<!-- Top Level Container -->
<div class="stepper-buttons">

    <!-- Previous Button Container -->
    <div>

        <!-- Previous Button -->
        <button mat-raised-button matStepperPrevious>

            <!-- Start Icon -->
            <mat-icon iconPositionStart *ngIf="config.prev.startIcon">
                {{ config.prev.startIcon }}
            </mat-icon>

            <!-- Text -->
            {{ config.prev.text }}

            <!-- End Icon -->
            <mat-icon iconPositionEnd *ngIf="config.prev.endIcon">
                {{ config.prev.endIcon }}
            </mat-icon>

        </button>

    </div>

    <!-- Next Button Container -->
    <div>

        <ng-container *ngIf="!lastStep; else lastStepTemplate">
            <button mat-raised-button color="primary" matStepperNext>
                <mat-icon iconPositionStart *ngIf="config.next.startIcon">
                    {{ config.next.startIcon }}
                </mat-icon>

                {{ config.next.text }}

                <mat-icon iconPositionEnd *ngIf="config.next.endIcon">
                    {{ config.next.endIcon }}
                </mat-icon>
            </button>
        </ng-container>

        <ng-template #lastStepTemplate>
            <button mat-raised-button color="primary" [disabled]="disabled" (click)="submit()">
                <mat-icon iconPositionStart *ngIf="config.next.startIcon">
                    {{ config.next.startIcon }}
                </mat-icon>

                {{ config.next.text }}

                <mat-icon iconPositionEnd *ngIf="config.next.endIcon">
                    {{ config.next.endIcon }}
                </mat-icon>
            </button>
        </ng-template>

    </div>

</div>
